<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pagina inexistente</title>
</head>
<body>
    <h1>Esta página no existe</h1>
    <h2> Puedes volver a la pagina principal utilizando el enlace </h2>
    <a href="/">
        Volver
    </a>
</body>
</html>