<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Homepage</title>
</head>
<body>
    <h1>Curso de Backend con Node</h1>
    <h2>Tarea de la clase 5</h2>
    <a href="/productos">Lista de productos de la tarea</a>
    <footer>
        <ul>
            <li>
                <a href="/faq">Preguntas frecuentes</a>
            </li>
        </ul>
    </footer>
</body>
</html>