<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <ul>
        <% products.forEach(products => { %>
            <li>
                <a href="/productos/<%= products.id %>">
                    <%= products.name %>
                </a>
            </li>
        <% }) %>
    </ul>
    <a href="/">Homepage</a>
</body>
</html>